@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:ital,wght@0,400;0,700;1,800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.home-container{
    flex-shrink: 0;
    background: var(--Primary-Arctic-White, #F8F9FA);
    /* border: 1px solid red; */
    position: relative;
}

.background-image{
    width: 100%;
    height: auto;
    max-height: 850px;
    object-fit: cover;
}

.text-overlay-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:white;
    /* border: 1px solid green; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 40px 20px;
}
.main-heading{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: Rajdhani;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    text-transform: capitalize;
    margin-bottom: 0;
}
.sub-heading{
    color: var(--Secondary-Electric-Blue-Light, #308DFF);
    align-self: stretch;
    font-family: Poppins;
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
    line-height: 90%; 
    text-transform: uppercase;
    margin-top: 0;
}
.sub-heading2{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
}