@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:ital,wght@0,400;0,700;1,800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.ant-layout-content {
    background-color: var(--Primary-Arctic-White, #F8F9FA);
}

.page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 20px;
    background: var(--Primary-Arctic-White, #F8F9FA);
    
}

.home-container{
    flex-shrink: 0;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.background-image{
    width: 100%;
    height: auto;
    max-height: 850px;
    object-fit: cover;
    display: block;
}
.floating-overlay-image{
    z-index:2;
    position: absolute;
    top:10%;
    left:50%;

    transform: translate(-50%, -50%);
    height:auto;
}


.text-overlay-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 40px 20px;
    z-index: 1;
}
.main-heading{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: 'Rajdhani', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    text-transform: capitalize;
    margin-bottom: 0;
}
.sub-heading{
    color: var(--Secondary-Electric-Blue-Light, #308DFF);
    align-self: stretch;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
    line-height: 90%; 
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.sub-heading2{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 48px;
}
.text-overlay-1 .ant-btn, .home-container-4 .ant-btn{
    height: 44px;
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    border-radius: 2px;
    border: 1px solid var(--Primary-Lightning-Yellow, #FFC107);
    background: var(--Primary-Lightning-Yellow, #FFC107);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}
.section-wrapper{
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    left:50%;
    right:50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.home-container-2{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 468px;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1512px;
    box-sizing: border-box;
    overflow: hidden;
}
.home-container-2-wrapper{
    width: 100vw;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.home-container-3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width:1512px;
    padding: 2rem;
}
.home-container-3 .main-heading, .home-container-3 .sub-heading{
    font-size: 40px;
}
.home-container-4{
    width: 100%;
    min-height: 592px;
    max-width: 1512px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.section-wrapper-bottom{
    width: 100vw;
    background-color: var(--Primary-Electric-Blue, #007BFF);
    display: flex;
    justify-content: center;
    position: relative;
}
.left-content-home, .right-content-home{
    flex: 1;
    max-width: 48%;
}
.left-content-home {
    flex: 1;
    padding-right: 20px; 
  }

.right-content-home img, .left-content-home img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
  


.tab-heading{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: 'Rajdhani', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.text-box-home{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    background: #FFF;

    display: flex;
    align-items: flex-start;
    padding: 48px 32px;
    gap: 24px;
    align-self: stretch;

    margin: 24px 24px 24px 0px;
}
.text-box-home p{
    margin-top: 0;
}
.logo-container{
    margin: 0;
}
.company-logo{
    width: 74px;
    height: 86px;
    margin-bottom: 32px;
    display: block;
}
.blue-logo{
    width: 74px;
    height: 88px;
    margin-bottom: 32px;

}
.feature-icon{
    margin-right: 16px;
    flex-shrink: 0;
}

.feature-icon svg{
    width: 36px;
    height: 36px;
}

.redirect{
    border-radius: 2px;
    border: 1px solid var(--Primary-Electric-Blue, #007BFF);
    background: var(--Primary-Electric-Blue, #007BFF);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    height: 44px;
    color: var(--Primary-Arctic-White, #F8F9FA);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.home-container-3 .redirect.ant-btn:hover,
.home-container-3 .redirect.ant-btn:focus {
    border: 1px solid #06C;
    background: #06C;
}
.page-wrapper .text-overlay-1 .ant-btn:hover,
.page-wrapper .text-overlay-1 .ant-btn:focus, 
.page-wrapper .home-container-4 .ant-btn:hover,
.page-wrapper .home-container-4 .ant-btn:focus {
    border: 1px solid #E2A602;
    background: #E2A602;
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
}

.text-overlay-2{
    max-width:945px;
    text-align: center;
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    }

.text-overlay-2 .highlight-text{
    color: var(--Primary-Electric-Blue, #007BFF);
}
.text-overlay-2 .underline-text{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.main-heading-partners{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    text-transform: capitalize;
    margin-bottom: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}
.sub-heading-partners{
    color: var(--Primary-Electric-Blue, #007BFF);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    line-height: 90%;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.partners-grid{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    align-self: stretch;
    width: 100%;
    overflow: visible;
}
.footer-heading{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer-subtext{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 64px;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.section-wrapper,
.section-wrapper-bottom,
.home-container-wrapper,
.home-container-2-wrapper,
.home-container-3-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.home-container-3-wrapper {
    background-color: var(--Primary-Arctic-White, #F8F9FA);
}

/* Laptop width */
@media (max-width: 1280px) {
    .main-heading {
        font-size: 48px;
    }
    
    .sub-heading {
        font-size: 48px;
    }
    
    .sub-heading2 {
        font-size: 16px;
    }
    
    .text-overlay-1 {
        padding: 30px 20px;
        z-index: 2;
    }
    .floating-overlay-image{
        z-index: 1;
        top: 8%;
        max-width: 35%;
    }

    .partners-grid{
        gap:60px;
    }
}

/* Tablet Sizes */

@media (max-width: 768px) {
    .main-heading, .sub-heading {
        font-size: 40px;
    }
    
    .sub-heading2 {
        font-size: 14px;
    }
    
    .text-overlay-1 {
        padding: 20px;
        width: 70%;
    }
    .text-overlay-2{
        max-width: 90%;
    }
    .floating-overlay-image{
        max-width: 30%;
        top: 6%;
        left: 80%;
    }
    .home-container-2{
        font-size: 28px;
    }

    .home-container-3 {
        flex-direction: column;
        width: 100%;
        padding: 2rem;
      }
      .left-content-home, .right-content-home {
        max-width: 50%;
        flex: 1;
      }
      
      .left-content-home {
        margin-bottom: 20px;
      }
    .partners-grid{
        gap:40px;
    }
    .footer-heading, .footer-subtext{
        font-size: 40px;
    }
}

/* Small Phones */

@media (max-width: 480px) {
    .main-heading {
        font-size: 28px;
    }
    
    .sub-heading {
        font-size: 28px;
    }
    
    .sub-heading2 {
        font-size: 13px;
    }
    
    .text-overlay-1 {
        width: 100%; 
    }
    
    button, .ant-btn {
        font-size: 16px;
    }
    .floating-overlay-image{
        top:5%;
    }
    .partners-grid{
        gap: 30px;
    }
    .home-container-3{
        flex-direction: column;
        width: 100%;
        padding: 1.5rem;
    }
    .left-content-home, .right-content-home{
        max-width: 100%;
        width: 100%;
        flex: none;
        margin-bottom: 20px;
    }
    .left-content-home img, .right-content-home img{
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .home-container-3:first-of-type .right-content-home {
        order: 1; 
    }
    .home-container-3:first-of-type .left-content-home {
        order: 2; 
    }
    .home-container-3:nth-of-type(2) .left-content-home {
        order: 1; 
    }
    .home-container-3:nth-of-type(2) .right-content-home {
        order: 2; 
    }
    .footer-heading, .footer-subtext{
        font-size: 28px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .home-container-3 {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }
    
    .left-content-home, .right-content-home {
        max-width: 90%;
        width: 90%;
        margin: 0 auto 20px auto;
    }

    /* Order of images on responsive view below 768 */
    
    .home-container-3:first-of-type .right-content-home {
        order: 1; 
    }
    
    .home-container-3:first-of-type .left-content-home {
        order: 2; 
    }
    
    .home-container-3:nth-of-type(2) .left-content-home {
        order: 1; 
    }
    
    .home-container-3:nth-of-type(2) .right-content-home {
        order: 2; 
    }

    
    .right-content-home img, .left-content-home img {
        max-width: 70%;
        display: block;
        margin: 0 auto;
    }
    
    .text-box-home {
        gap: 24px;
        padding-top: 48px;
        padding-right: 32px;
        padding-bottom: 48px;
        padding-left: 32px;
    }
    
    .main-heading, .sub-heading {
        font-size: 32px;
        text-align: center;
    }
    
    .tab-heading {
        font-size: 24px;
    }
    
    .text-container-left {
        text-align: center;
        width: 100%;
    }
    
    .redirect {
        display: block;
        margin: 0 auto;
    }
}


.home-container,
.home-container-2,
.home-container-3,
.home-container-4,
.partners-container {
    width: 100%;
    padding: 0 20px;
    max-width: 1512px;
    box-sizing: border-box;
}

.partners-container {
    width: 100%;
    max-width: 1512px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
}