@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:ital,wght@0,400;0,700;1,800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.ant-layout-content {
    background-color: var(--Primary-Arctic-White, #F8F9FA);
    padding-top: 0;
}

.page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 20px;
    background: var(--Primary-Arctic-White, #F8F9FA);
}
.privacy-content-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: #FFFFFF;
}
.privacy-hero-section-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: visible;
    padding: 105px 0;
}

.privacy-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.privacy-header {
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: Rajdhani;
    font-size: 40px;
    font-weight: 700;
  }

.privacy-subheader {
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.privacy-text{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    width: 1134px;
    margin-top: 72px;
}

.privacy-text-header{
    color: var(--Primary-Thunderstorm-Gray, #4A4A4A);
    font-family: Rajdhani;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    word-wrap: break-word;
    align-self: flex-start;
    text-align: left;
    padding: 28px 0px;
}
.text-box-privacy ul {
    list-style-type: disc;
    padding-left: 0px;
    margin: 0 0 16px 0;
}
.text-box-privacy li{
    margin-left: 16px;
}
.text-box-privacy p{
    margin: 0;
}
.text-box-privacy:last-child{
    margin-bottom: 108px;
}
/* @media(max-width: 1024px){
    .privacy-policy-wrapper{

    }
} */