@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: 1000;
    padding: 0 20px;
}

.brand-section{
    display: flex;
    align-items: center;
    margin-left: 94px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo-container {
    margin-right: 15px;
}

.logo{
    width: 44;
    height: 50;
    left: 44px;
    object-fit: contain; 
}

.company-name{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -5%;
    text-align: center;
    text-transform: uppercase;
    color:#4A4A4A
}

.nav-tabs-container {
    display: flex;
    align-items: center;
    margin-right: 94px;
    height: 46px;
    position: relative;
}

.navigation-tabs {
    height: 100%;
    border: none;
    box-shadow: none;
}

.navigation-tabs .ant-tabs-nav {
    margin-bottom: 0;
    height: 100%;
    
}
  
.navigation-tabs .ant-tabs-nav-wrap {
    height: 100%;
}
  
.navigation-tabs .ant-tabs-nav-list {
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 100%;
    gap: 32px;
    padding: 0 15px;
}
  
.navigation-tabs .ant-tabs-tab {
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0 15px;
    margin: 0;
}
  
.navigation-tabs .ant-tabs-tab-btn {
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    white-space: nowrap;
}

.contact-button{
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    height: 32px;
    margin-left: 32px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 2px;
}
  